body {
  background-color:#F5F5F5;
}

.card-body {
background-color:#FFFFFF;
margin:50px;
padding:45px;
border-radius:2px;
-webkit-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.4);
-moz-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.4);
box-shadow: 1px 2px 30px rgba(0, 0, 0, .1);
}

#multiselect ul {
    padding: 0em;
}

#multiselect ul li, #multiselect ul li ul li {
    position:relative;
    top:0;
    bottom:0;
    padding-bottom: 7px;
}

#multiselect ul li ul {
    margin-left: 4em;
}

#multiselect li {
    list-style-type: none;
}

#multiselect li a {
    color: #337ab7;
    padding:0 0 0 10px;
    position: relative;
    top:1em;
}

.fa-check {
  display: none;
}

#multiselect li a.selected {
    font-weight: bold;
    text-decoration: none;
}

#multiselect li a.selected .fa-check {
  display: inline-block;
}

#multiselect li a:hover {
    text-decoration: none;
}

#multiselect a.addBorderBefore:before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 29px;
    position: absolute;
    left: -47px;
    top:-15px;
    border-left: 1px solid gray;
}

#multiselect li:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 0;
    position: relative;
    left: 0em;
    top:1em;
    border-top: 1px solid gray;
}

#multiselect ul li ul li:last-child:after, #multiselect ul li:last-child:after {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    position: relative;
    background: #fff;
    top: 9px;
    left: -14px;
}
